# !!!!! front 

# dependencies
/monitor-front/node_modules
/monitor-front/.pnp
/monitor-front/.pnp.js

# testing
/monitor-front/coverage

# production
/monitor-front/build

# misc
/monitor-front/.DS_Store
/monitor-front/.env.local
/monitor-front/.env.development.local
/monitor-front/.env.test.local
/monitor-front/.env.production.local

/monitor-front/npm-debug.log*
/monitor-front/yarn-debug.log*
/monitor-front/yarn-error.log*

# !!!!!! back - api
/monitor.env
/monitor_api/db.sqlite3

/monitor_api/*/__pycache__
/monitor_api/*/*/__pycache__